body{
    background-color: rgb(186, 235, 241);
}
.todolist{
    display: flex;

    &__left{
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: rgb(112, 143, 162);
        height: 100vh;

        &__first{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgb(202, 185, 185);
            padding: 10px;

            &__text{
                margin: 0;
                padding: 0;
                font-family: "Arial", sans-serif;
            }
        }

        &__second{
            display: flex;
            // align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 10px;

            &__link1{
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #000;
                padding: 10px;
                
                &__text1{
                    margin: 0;
                    padding: 0;
                    font-family: "Arial", sans-serif;
                    margin-right: 83px;
                }
                &__text2{
                    margin: 0;
                    padding: 0;
                    font-family: "Arial", sans-serif;
                    display: flex;

                }
            }

            &__link2{
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #000;
                padding: 10px;

                &__text1{
                    margin: 0;
                    padding: 0;
                    font-family: "Arial", sans-serif;
                    margin-right: 90px;
                }
                &__text2{
                    margin: 0;
                    padding: 0;
                    font-family: "Arial", sans-serif;
                    display: flex;
                    
                }
            }

            &__link3{
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #000;
                padding: 10px;

                &__text1{
                    margin: 0;
                    padding: 0;
                    font-family: "Arial", sans-serif;
                }
            }

            &__link4{
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #000;
                padding: 10px;

                &__text1{
                    margin: 0;
                    padding: 0;
                    font-family: "Arial", sans-serif;
                }
            }
        }
    }
}
.todolist__right{
    display: flex;
    flex-direction: column;
    width: 100%;

    &__nav{
        background-color: rgb(74, 83, 246);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        &__wrap{
            display: flex;
            flex-direction: column;
        }

        &__text1{
            margin: 0;
            padding: 0;
            font-family: "Arial", sans-serif;
            font-size: 35px;
            margin-bottom: 10px;
            margin-top: 30px;
        }
        &__text2{
            margin: 0;
            padding: 0;
            font-family: "Arial", sans-serif;
            font-size: 25px;
        }
    }

    &__lists{
        display: flex;
        flex-direction: column;  
        justify-content: center;    
        align-items: center;  
        &__item{
            list-style-type: none;
            border: 2px solid black;
            margin-bottom: 10px;
            padding: 10px;
            width: 1000px;
            border-radius: 10px;
        }
    }

    
    &__wrap{
        display: flex;
        margin-top: 30px;
        justify-content: center;
        
        &__add{
            width: 700px;
            font-size: 16px;
        }
    }
}

.todolist__right__lists__item{
    display: flex;
}
.li-active{
    margin: 0;
    padding: 0;
}
.active-checkbox{
    margin-right: 10px;
}


// ! actives
.active-lupa{
    color: blue;
}
.active-lupa:hover{
    transform: scale(1.2);
    transition: 0.7s all;
    cursor: pointer;
}
.active-lupa:active{
    transform: scale(1.1);
}

.active-sun{
    color: blue;
    margin-right: 10px;
}
.active-sun:hover{
    transform: scale(1.2);
    transition: 0.7s all;
    cursor: pointer;
}
.active-sun:active{
    transform: scale(1.1);
}

.active-home{
    color: blue;
    margin-right: 10px;

    &:hover{
        transform: scale(1.2);
        transition: 0.7s all;
        cursor: pointer;
    }
    &:active{
        transform: scale(1.1);
    }
}

.active-menu{
    color: blue;
    margin-right: 16px;

    &:hover{
        transform: scale(1.2);
        transition: 0.7s all;
        cursor: pointer;
    }
    &:active{
        transform: scale(1.1);
    }
}

.active-plus{
    color: blue;
    margin-right: 16px;
    
    &:hover{
        transform: scale(1.2);
        transition: 0.7s all;
        cursor: pointer;
    }
    &:active{
        transform: scale(1.1);
    }
    
}

.active-bulb{
    color: white;
    font-size: 35px;
    &:hover{
        transform: scale(1.2);
        transition: 0.7s all;
        cursor: pointer;
    }
    &:active{
        transform: scale(1.1);
    }
}




.active-back{
    background-color: rgb(236, 246, 242);
}


